.basket {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(94, 94, 94, 0.85);
    border: 5px solid #40c2cd;
    border-radius: 5px;
    color: white;
}

.basket h2 {
    text-align: center;
    margin-bottom: 20px;
}

.basket ul {
    list-style: none;
    padding: 0;
}

.basket li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #40c2cd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket input {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #40c2cd;
    background-color: #252424;
    color: white;
    text-align: center;
}

.basket button {
    background-color: #f80e0e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.basket button:hover {
    background-color: #c00;
}

@media (max-width: 768px) {
    .basket {
        width: 100%;
    }
    .basket li {
        flex-direction: column;
        gap: 10px;
    }
}