.discounts-page {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 60px;
}

.discounts-page h1 {
    background-color: #252424;
    color: #40c2cd;
    font-style: italic;
    border-radius: 10px;
    width: 310px;
    padding-left: 10px;
    box-shadow: 7px 7px #1e6b73;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 50px;
    row-gap: 30px;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}